body{
    background-color: #000501;
    color: #EFF9FA;
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;       
    align-items: center;
}

/* Esse conteúdo será removido assim que informações forem incluídas.
Página "Minhas Redes" */
.aviso{
    
    text-align: center;
    margin: auto;
}

.bellguitar{
    max-width: 120px;
    border-radius: 60px;
    border: 2px solid #BB1953;
    box-shadow: rgba(187, 25, 83, 0.723) 0px 3px 8px; 
    transition: 0.30s all;
}

.bellguitar:hover{  
   box-shadow: rgba(223, 11, 85, 0.25) 0px 14px 28px, rgba(230, 45, 131, 0.22) 0px 10px 10px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.title{
    flex-direction: column;
    align-items: center;
}    

a{
    color: #EFF9FA;
    font-weight: bold;
    transition: 0.3s all;
}

/* Vamos fazer a animação dos menus aqui */
a:hover{
    color: #BB1953;
}
/* Estilisando contato */
#contato{
    box-shadow: rgba(187, 25, 83, 0.723) 0px 3px 8px; 
    padding: 8px;
    border: 2px solid #BB1953;
    color: #BB1953;
    border-radius: 15px;
    transition: 0.30s all;
}
/* Animação sombras do contato */
#contato:hover{
    box-shadow: rgba(223, 11, 85, 0.25) 0px 14px 28px, rgba(230, 45, 131, 0.22) 0px 10px 10px;
    color: #EFF9FA;
    background-color: #BB1953;
}
/* Alinhando menu */
li{
    display: inline-block;
    margin: 20px;
}

/* Afinando fonte 2 do titulo */
#fina{
    font-weight: 200;
    font-size: 30px;
}

h2{
    font-size: 56px;
    /* Distanciamento da linha da altura da fonte*/
    line-height: 50px;
    
}

/* Mudando parte da cor do h2 */
span{
    color: #BB1953
}

p{
    line-height: 20px;
    max-width: 500px;
    margin-top: 40px;
}

/* Ajustando imagem */
#gamer{
    width: 580px;
    transition: 1.8s all;
}

/* Animação da imagem */
#gamer:hover{
    padding: 20px;
}


.formulario{
    display: flex;
    flex-direction: column;
    width: 70%;   /*70% Da largura do formuilário*/
}

input{
    margin-top: 20px;
    height: 50px;
    padding: 15px;
    border: none; 
    border-radius: 15px;
    font-size: 15px;
    background-color: #393a41;
}

.enviar_dados{
    height: 50px;
    width: 50%;
    background-color: #BB1953;
    color: #000501;
    font-weight: bold;
    transition: 0.3s all;
    cursor: pointer;
}

/* Animação botão Enviar */
.enviar_dados:hover{
    color:#EFF9FA;
    background-color: #C23064;
}